@import '../../styles/consts';

.aside{
  width: 200px;
  background: lighten($blue, 50%);
  font-size: 14px;
  user-select: none;

  header{
    padding: 13px 15px;
    background: $blue;
    font-weight: 600;
    color: white;

    i{
      margin-right: 5px;
    }
  }

  ul{
    padding-top: 15px;
    width: 100%;

    li{
      padding: 8px 15px;
      cursor: pointer;

      &:hover{
        background: lighten($blue, 45%);
      }

      &:active{
        background: $blue;
        color: white;
      }
    }
  }
}