$gray-darker: #2d333b;

.editors {
  height: 100%;
  display: flex;
  flex-direction: row;

  .editors-content {
    position: relative;
    height: 100%;
    flex: 1;

    .gutter{
      background: black;
    }

    &.js {
      #editor-js{
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 100;
      }
    }

    &.html {
      #editor-html{
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 100;
      }
    }

    &.css {
      #editor-css{
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 100;
      }
    }

    &.output {
      #editor-output{
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 100;
        background: white;
      }
    }

    .editor {
      border-color: lightgray;
      border-style: solid;
      border-width: 0;
      position: relative;
      width: inherit;
      height: 100%;

      header {
        font-size: 12px;
        padding: 10px;
        position: absolute;
        z-index: 10;
        color: lightgray;
        width: 100%;

        .icon{
          font-size: 16px;
        }

        .title{
          background: #424242;
          padding: 2px 5px;
          border-radius: 3px;
          margin-left: 22px;
          box-shadow: 0 0 10px #111419;
        }
      }

      .vue-codemirror {
        height: 100%;
        padding-top: 36px;
        background: #21272f;
        font-size: 14px;

        .CodeMirror {
          height: 100%;
          background: transparent;
          box-shadow: none;
          font-family: Menlo, Monaco, 'Courier New', monospace;

          .CodeMirror-linenumber {
            color: #4a4a4a;
            text-shadow: none;
          }

          .CodeMirror-gutters {
            background: transparent;
            box-shadow: none;
            border: 0;
          }

          .CodeMirror-matchingbracket {
            text-decoration: none;
            background: #777080;
          }
        }
      }
    }

    #editor-js {

      &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 1px;
        background: $gray-darker;
      }

      &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 1px;
        width: 100%;
        background: $gray-darker;
      }
    }
  }
}
