
$bg-color: white;
$dark: #2d333b;

$blue: #3F51B5;
$light-blue: lighten($blue, 20%);
$lighter-blue: lighten($blue, 35%);
$lightest-blue: lighten($blue, 45%);

$gray: gray;
$light-gray: lighten($gray, 20%);
$lighter-gray: lighten($gray, 35%);
$lightest-gray: lighten($gray, 45%);
