button{
  background: $blue;
  appearance: none;
  border: 0;
  color: white;
  padding: 0 15px;
  line-height: 30px;
  font-size: 14px;
  border-radius: 3px;
  transition: background 300ms;
  cursor: pointer;

  &:hover{
    background: lighten($color: $blue, $amount: 10%);
  }

  &:active{
    background: darken($color: $blue, $amount: 10%);
  }

  &:focus{
    outline: 0;
  }

  &.secondary{
    background: transparent;
    color: $blue;

    &:hover{
      background: $lightest-gray;
    }

    &:active{
      background: $lighter-gray;
    }

  }
}

input, textarea{
  width: 100%;
  appearance: none;
  border: 0;

  background: $lightest-gray;
  line-height: 30px;

  font-size: 14px;
  padding: 0 10px;
  border-radius: 3px;

  margin-bottom: 10px;

  &:focus{
    outline: 0;
  }
}