.modal{
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);

  .modal-inner{
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    padding: 15px;
    text-align: left;
    min-width: 500px;
    max-height: 90%;
    height: auto;
    animation: modalZoomIn 300ms;
    border-radius: 5px;
    display: flex;
    flex-direction: column;

    .modal-header{
      font-weight: 500;
      padding-bottom: 10px;
    }

    .modal-body{
      padding-bottom: 10px;
      overflow: auto;
    }

    .modal-footer{
      text-align: right;
    }
  }
}